<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Backend</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <a href="/">🏠 Inicio</a>
        <a href="/products">📚 Productos</a>
        <a href="/realtimeproducts">⚡ Productos en tiempo real</a>
        <a href="/carts/6a5ffa6b465ed6bba5d55768">🛒 Mi carrito</a>
    </nav>

    {{{body}}}

</body>
</html>